<div class="w-full max-w-full relative h-[calc(100vh-10rem)] overflow-auto">
<table class="w-full border-collapse">
<thead class="">
    <tr class="">
        <th class="{{first_col_width}} border left-0 z-20 bg-surface1 sticky left-0 top-0">{{ table.row_label }} {% if not skip_colnames %}\ {{ table.col_label }}{%endif%}</th>
        {% for col_name in table.col_names %}
            <th class="min-w-10 border bg-surface1 sticky top-0">{{ col_name|safe }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for row in table.rows %}
    <tr class="{% if row.is_separator %}h-2 bg-surface3{% endif %}">
        {% for cell in row %}
            <td class="text-center border{%if forloop.first%} {{first_col_width}} sticky left-0 z-10 bg-surface1{%else%} min-w-10{% endif %}">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>        
</table>
</div>