{% extends "agenda/base.html" %}
{% block content %}
<div>
Vous pouvez gérer les classes et rôles de utilisateurs sur cette page.
</div>
<div class="my-4 w-67 p-1 mx-auto border border-gray-300 rounded">
    <input type="text" id="user-filter" class="px-2 rounded-l" placeholder="Filtrer les utilisateurs">
    <span id="reset-filter" class="cursor-pointer border-l px-2"><i class="fas fa-times"></i></span>
</div>
<table id="user-table" class="mx-2 my-2 shadow-sm">
    <thead class="pb-2 border-b">
        <tr>
            <th></th>
            <th class="sortable" data-column="last_name">Nom</th>
            <th class="sortable" data-column="first_name">Prénom</th>
            <th class="sortable" data-column="email">Email</th>
            <th class="sortable" data-column="roles">Rôles</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="flex justify-center gap-4">
<span class="button" id="load-more">Charger plus</span>
<span class="button" id="user-add">Ajouter un utilisateur</span>
</div>
{% with modal_id="user-edit-modal" modal_title="Modifier un utilisateur" modal_footer_tmpl="users/fragments/edit_user_modal_footer.html" %}
{% include "components/modal.html" %}
{% endwith %}
{% with modal_id="role-add-modal" modal_title="Ajouter un rôle" modal_body_tmpl="users/fragments/user_form.html" modal_footer_tmpl="users/fragments/user_form_footer.html" form_id="role-form"%}
{% include "components/modal.html" %}
{% endwith %}
{% with modal_id="role-delete-modal" modal_title="Supprimer un rôle" modal_footer_tmpl="users/fragments/delete_role_modal_footer.html" %}
{% include "components/modal.html" %}
{% endwith %}
{% endblock content %}