{% extends "users/password/base.html"%}
{% block style %}{{block.super}}
<style>
.countdown-container {
    width: 100%;
    text-align: center;
}
.countdown-value {
    scale: 0;
    font-size: 48px;
    opacity: 0.5;
    transition: 0.3s ease-in;
    transform-origin: center;
    width: 50%;
    height: 50%;
    display: inline-block;
}
.countdown-value.open {
    scale: 1;
    opacity: 1;
    font-size: 48px;
}
</style>
{% endblock style %}
{% block content %}
    <h1 class="text-lg p-4">Changer de mot de passe</h1>
    <p class="prose dark:prose-invert p-2">Votre mot de passe a été changé.</p>
    <p class="prose dark:prose-invert p-2">Vous allez être redirigé vers la page d'accueil</p>
    <div class="countdown-container" id="cd-container">
        
    </div>
{% endblock content %}
{% block footer %}
<script>
let timeInterval = null,
    duration = 6,
    cd = document.getElementById("cd-container");

function stop() {
    clearInterval(timeInterval);
    setTimeout(() => document.location.href = "/", 100);
}

timeInterval = setInterval(() => {
    duration -= 1;
    let current = document.createElement("span");
    current.classList.add("countdown-value");
    current.textContent = duration;
    cd.replaceChildren(current);
    setTimeout(()=> current.classList.add("open"), 100);
    if (duration <= 0) {
        stop();
    }
}, 1000);
</script>
{% endblock footer %}
