{% extends "users/password/base.html" %}
{% block style %}
{{ block.super }}
<style>
.minlength, .passMatch {
    transition: opacity 0.5s ease-in-out;
}

input:invalid {
    outline: 2px solid red;
}
</style>
{% endblock style %}
{% block content %}
    <h1 class="text-lg p-4 text-center">
        {% if validlink %}
            Changer de mot de passe
        {% else %}
            Lien invalide
        {% endif %}
    </h1>
    {% if validlink %}
    <p class="prose dark:prose-invert text-center m-auto minlength">
    Le nouveau mot de passe doit contenir au moins 8 caractères.
    </p>
        <form method="post" action="{{action_url}}" id="password_reset_form"
        class="p-2 max-w-80 *:flex *:flex-col m-auto text-center">
        {% csrf_token %}
        {{ form }}
        <p class="passMatch prose dark:prose-invert text-center">
        Les mots de passe doivent correspondre.
        </p>
        <div class="text-center">
        <button type="submit" name="action" class="button mt-2">Valider</button>
        </div>
        </form>
    {% else %}
        <p class="prose dark:prose-invert p-2 text-center m-auto">
            Le lien de réinitialisation du mot de passe est invalide,
            probablement parce qu'il a déjà été utilisé ou qu'il a expiré.
            Veuillez demander une <a href="{% url 'account_reset_password' %}">nouvelle réinitialisation de mot de passe</a>.
        </p>
    {% endif %}
{% endblock content %}
{% block footer %}
<script>
const form = document.getElementById("password_reset_form");
const pass1 = document.getElementById("id_new_password1");
const pass2 = document.getElementById("id_new_password2");
const minlength = document.querySelector(".minlength");
const passMatch = document.querySelector(".passMatch");

function validatePassword(){
  if(pass1.value != pass2.value) {
    pass2.setCustomValidity("Les mots de passe ne correspondent pas");
    passMatch.style.opacity = 1;
    return false;
  } else {
    pass2.setCustomValidity('');
    passMatch.style.opacity = 0;
    return true;
  }
}

form.addEventListener("submit", function(event) {
  if (!validatePassword()) {
    event.preventDefault();
  }
});
pass2.addEventListener("input", validatePassword);
pass1.addEventListener("input", function(event) {
  if (pass1.value.length < 8) {
    minlength.style.opacity = 1;
  } else {
    minlength.style.opacity = 0;
  }
});
</script>
{% endblock footer %}
