{% extends "users/password/base.html" %}
{% block body %}
    <h1 class="text-lg p-4">Réinitialisation du mot de passe</h1>
    {% if user.is_authenticated %}
        <p class="prose dark:prose-invert p-2">
            Vous êtes actuellement authentifiés.
        </p>
    {% endif %}
    <p class="prose dark:prose-invert p-2">
        Vous avez oublié votre mot de passe ? Entrez votre adresse e-mail ci-dessous,
        et nous vous enverrons un e-mail vous permettant de le réinitialiser
    </p>
    <form form=form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="button mt-2">Réinitialiser mon mot de passe</button>
    <p>Veuillez nous contacter si vous avez des problèmes pour réinitialiser
    votre mot de passe.</p>
{% endblock body %}
