{% load humanize %}
{% load tz %}
{% load l10n %}
<div class="border p-1 m-1">
    <h5>{{self.inscription.label}} {% if self.inscription.teacher != self.inscription.curr_user %}({{self.inscription.teacher}}){% endif %}
        {% if not self.inscription.past %}
        <a href="{% url 'agenda:inscription:manage' pk=self.inscription.pk %}" class="p-2"
           title="Modifier">
            <i class="fas fa-edit text-lg"></i>
        </a>
        <a href="{% url 'agenda:inscription:delete' pk=self.inscription.pk %}" class="p-2"
           title="Supprimer">
            <i class="fas fa-trash text-lg"></i>
        </a>
        {% else %}(passé){% endif %}</h5>
    <span>Le {{self.inscription.begin|date:"l j F H:i"}} jusqu'à
        {{self.inscription.end|time:"H:i"}} ({{self.inscription.max_students}} places,
        {{self.inscription.begin|naturaltime}})
    </span>
    <ul>
        {% for stud in self.inscription.attendants.all %}
        <li class="pl-4">{{stud}}</li>
        {% endfor %}
    </ul>
</div>