<div class="p-2 bg-surface1 rounded shadow-md lg:mx-2 mb-2">
<h3>{{self.group.teacher}}, {{self.group.day|date:"l j F"}}</h3>
{% for label, inscr_list in self.group.inscriptions.items %}
    <div class="">
        <h4>{{ label }}</h4>
        {% for inscr in inscr_list %}
        <div class="p-2 flex flex-row flex-wrap justify-between items-center{% if inscr.has_user %} border border-green-400{% endif %}">
            <div class="flex flex-col justify-center items-center">
            <div>{{inscr.begin|time:"H:i"}} -
            {{inscr.end|time:"H:i"}}</div>
            {% if inscr.classroom %}
            <div class="text-sm">s. {{inscr.classroom}}</div>
            {% endif %}
            </div>
            <ul class="">
                {% if not inscr.is_full %}
                <li class="pl-4">{{inscr.max_students}} place{{inscr.max_students|pluralize}}</li>
                {% endif %}
                {% for stud in inscr.attendants.all %}
                <li class="pl-4{% if stud == user %} underline{% endif %}">{{stud}}</li>
                {% endfor %}
            </ul>
            {% if not inscr.locked %}
                {% if inscr.has_user %}
                <span class="button inscription cancel" data-target="{{inscr.pk}}">Se désinscrire</span>
                {% elif not inscr.is_full %}
                <span class="button inscription add" data-target="{{inscr.pk}}">S'inscrire</span>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>