<div class="prose dark:prose-invert indent mb-4 p-2 mx-auto w-3/4">
<h3>Math 1</h3>
<p>
L'épreuve de Math 1 consiste en un exercice suivi d'une ou plusieurs questions
de cours. La durée pour le candidat est de 30 minutes.
<br>
L'exercice, comme les questions de cours, peut porter sur l'un des
quatre thèmes au programme : algèbre, analyse, géométrie et probabilités.
</p>
<p>
Un créneau proposé de Math 1 ne sera effectué que si deux candidats sont inscrits,
pour une durée totale de 1 heure consécutive pour l'examinateur.
</p>
<h3>Math 2</h3>
<p>
L'épreuve de Math 2 consiste en deux exercices, d'une durée de 30 minutes chacun.
L'un de ces exercices porte sur le programme de mathématiques, l'autre 
sur le programme d'informatique et se déroule sur ordinateur.
</p>
<p>
Un créneau proposé de Math 2 concerne deux candidats, qui composent en même temps.
Les deux candidats sont donc convoqués à la même heure.
<br>
Un créneau proposé ne sera effectué que si deux candidats sont inscrits.
</p>
<h3>Mines Telecom</h3>
<p>
L'épreuve  consiste en deux exercices, d'une durée de 15 minutes environ chacun.
</p>
Un créneau proposé ne sera effectué que si deux candidats sont inscrits,
pour une durée totale de 1 heure consécutive pour l'examinateur.
</p>
<h3>TP Info</h3>
<p>12 places disponibles. La séance n'est maintenu lorsqu'au moins
6 élèves sont inscrits.</p>
</div>