{% extends "agenda/base.html" %}
{% block content %}
<h1>Consultation du colloscope, classe de {{ level.name }}</h1>
<div class="flex flex-row gap-4 w-full">
    <div class="w-1/2 border rounded-sm p-2 ml-2 flex flex-col items-center">
    <h3>Colloscope complet</h3>
    <form class="text-center" hx-get="{% url 'agenda:api:consult_cscope' level.pk %}" 
            hx-target="#cscope .modal-body" hx-swap="innerHTML">
    {% csrf_token %}
    {{form}}
    <input type="submit" class="button modal-btn mt-2" data-modal-target="#cscope" value="Voir">
    </form>
    </div>
    <div class="w-1/2 border rounded-sm p-2 mr-2 flex flex-col items-center">
    <h3>Mon colloscope</h3>
    <form class="text-center" hx-get="{% url 'agenda:api:perso_cscope' level.pk %}" 
            hx-target="#cscope .modal-body" hx-swap="innerHTML">
    {% csrf_token %}
    {{perso_form}}
    <input type="submit" class="button modal-btn mt-2" data-modal-target="#cscope" value="Voir">
    </form>
    </div>
</div>
{% with wfull=True modal_id="cscope" modal_title="Colloscope "|add:level.name %}
{% include "components/modal.html" %}
{% endwith %}
{% endblock content %}
